@model Quiz_Management.Models.QuestionModel
<main id="main" class="main">
    <div class="container-fluid">
        <h2 style="color:steelblue" class="card-title fs-2">Question Add/Edit</h2>
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-3">
                        <li class="breadcrumb-item">
                            <a asp-controller="Question" asp-action="QuestionList">Question</a>
                        </li>
                        <li class="breadcrumb-item active">Question Add</li>
                    </ol>
                </nav>
                <form asp-controller="Question" asp-action="QuestionSave" method="post">
					<input asp-for="QuestionID" type="hidden" />
                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Question Text</label>
                        <textarea asp-for="QuestionText" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="QuestionText" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Question Level</label>
                        <select asp-for="QuestionLevelID" class="form-select" required>
                            <option value="">-- Select Level --</option>
                            @foreach (var level in ViewBag.QuestionLevel)
                            {
                                <option value="@level.QuestionLevelID">@level.QuestionLevel</option>
                            }
                        </select>
                        <span asp-validation-for="QuestionLevelID" class="text text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Option A</label>
                        <input asp-for="OptionA" type="text" class="form-control">
                        <span asp-validation-for="OptionA" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Option B</label>
                        <input asp-for="OptionB" type="text" class="form-control">
                        <span asp-validation-for="OptionB" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Option C</label>
                        <input asp-for="OptionC" type="text" class="form-control">
                        <span asp-validation-for="OptionC" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Option D</label>
                        <input asp-for="OptionD" type="text" class="form-control">
                        <span asp-validation-for="OptionD" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Correct Option</label>
                        <select asp-for="CorrectOption" class="form-select">
                            <option value="">Select Correct Option</option>
                            <option value="A">Option A</option>
                            <option value="B">Option B</option>
                            <option value="C">Option C</option>
                            <option value="D">Option D</option>
                        </select>
                        <span asp-validation-for="CorrectOption" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">Question Marks</label>
                        <input asp-for="QuestionMarks" type="number" class="form-control">
                        <span asp-validation-for="QuestionMarks" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label class="form-label">User ID</label>
                        <input asp-for="UserID" type="number" class="form-control">
                        <span asp-validation-for="UserID" class="text text-danger "></span>
                    </div>

                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <input asp-for="IsActive" class="form-check-input">
                        <label class="form-label">Is Active</label>
                        <span asp-validation-for="IsActive" class="text text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success me-2">Save</button>
                    <button type="button" class="btn btn-danger">Reset</button>
                    <a class="btn btn-warning ms-1" asp-controller="Question" asp-action="QuestionList">
                        Back
                    </a>
                </form>
            </div>
        </div>
    </div>
</main>
